@import 'tailwindcss';
@plugin "daisyui";

:root {
    --color-primary: #7c3aed;
    --secondary: #c2410c;
    --color-accent: #1d4ed8;
    --neutral: #1f2937;
    --base-100: #ffffff;
}

[data-theme='light'] {
    --color-primary: #7c3aed;
    --color-secondary: #c2410c;
    --color-accent: #1d4ed8;
    --color-base-100: #ffffff;
    --color-text-base: #1f2937;
}

[data-theme='dark'] {
    --color-primary: #3b82f6;
    --color-secondary: #f97316;
    --color-accent: #a78bfa;
    --color-base-100: #0f172a;
    --color-text-base: #f8fafc;
}