@import 'tailwindcss';
@plugin "daisyui";

:root {
    /* Global Brand Colors */
    --primary: #7c3aed;
    /* Violet 600 */
    --secondary: #db2777;
    /* Pink 600 */
    --accent: #f59e0b;
    /* Amber 500 */
    --neutral: #374151;
    /* Gray 700 */
    --base-100: #ffffff;
}

[data-theme='light'] {
    --color-primary: #7c3aed;
    --color-secondary: #db2777;
    --color-accent: #f59e0b;
    --color-base-100: #ffffff;
    --color-text-base: #1f2937;
}

[data-theme='dark'] {
    --color-primary: #a78bfa;
    /* Violet 400 */
    --color-secondary: #f472b6;
    /* Pink 400 */
    --color-accent: #fbbf24;
    /* Amber 400 */
    --color-base-100: #111827;
    /* Gray 900 */
    --color-text-base: #f3f4f6;
}